body {
    background-color: #ffffff
  }

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #719c67;
    position: sticky;
    top: 0;
    
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #b0eaff;
}

h1 {
  font-family: 'Bungee Shade', sans-serif;
    color: #ec5053;
}
