/* WALLPAPER + BODY FONT */
body {
  background: url("Wallpaper.jpeg") no-repeat center/cover;
  font-family: Arial, Helvetica, sans-serif;
}

/* LOGO */
header .logo img{
  height: 50px;
}

/* NAVIGATION BAR */
header {
  background-color: rgb(245, 240, 255);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
    display: inline-block;
    color: #ffb603;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none;
}

/* NAVIGATION BAR HOVER COLOUR CHANGE */
header nav ul li a:hover {
  color: #ffb603;
  background-color: #ffffff;
  background-size: 100%;
}


/* media query breakpoints for smaller screens */
/* hamburger menu */
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}

@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -120%;
        top: 70px;
        width: 100%;
        background: #ffffff;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
        margin: 10px 0;
    }
    header nav ul li a {
      margin: 10px 0;
    }
}


/* INCREMENTING BUTTON */
.even {
  color: green;
}

.odd {
  color: red;
}

/* Welcome Header Message */
h1 {
  margin-top: 10px;
  font-family: 'Bungee Shade', sans-serif;
  font-size: xx-large;
  color: #ffffff;
  text-align: center;
}

/* ABOUT SECTION */
#about {
  border: 15px solid rgb(255, 255, 255);
  padding: 50px;
  margin: 20px;
}

.center {
  display: block;
  width: 60%;
  height: 60%;
  padding: 10px;
  margin-top: 10px;
}

/* PROJECTS SECTION */
#projects {
  border: 15px solid rgb(255, 255, 255);
  padding: 50px;
  margin: 20px;
}

      /* INDENTATION FOR BULLET POINT LIST */
        .hobbies-list ul {
        padding-left: 20px;
      }

      /* RESPONSIVE IMAGE LAYOUT */
        .gallery {
        display: flex;
        justify-content: space-between;
      }

      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .column img {
        width: 80%;
        height: auto;
        max-width: 100%;
        margin-bottom: 15px;
      }

/* CONTACT SECTION */
#contact {
  border: 15px solid rgb(255, 255, 255);
  padding: 50px;
  margin: 20px;
}

      /* TABLE BORDER */
      table, th, td {
        border: 1px solid rgb(0, 0, 0);
      }

/* ORDERED LIST FOR FOR JS LOOP */
#numbers {
  border: 15px solid rgb(255, 255, 255);
  padding: 50px;
  margin: 20px;
  column-count: 4;
  column-gap: 5px;
}

/* FOOTER */
footer {
  background-color: rgb(245, 240, 255);
  display: grid;
  place-items: center;
}

.footertext {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  font-size: 1rem;
  color: #000000;
}